# Render Blueprint specification
# https://render.com/docs/blueprint-spec

services:
  - type: web
    name: lapakmahasiswa
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /
    envVars:
      - key: APP_NAME
        value: LapakMahasiswa
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: "false"
      - key: APP_URL
        sync: false
      - key: APP_KEY
        generateValue: true
      - key: LOG_CHANNEL
        value: stderr
      - key: LOG_LEVEL
        value: error
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        fromDatabase:
          name: lapakmahasiswa-db
          property: host
      - key: DB_PORT
        fromDatabase:
          name: lapakmahasiswa-db
          property: port
      - key: DB_DATABASE
        fromDatabase:
          name: lapakmahasiswa-db
          property: database
      - key: DB_USERNAME
        fromDatabase:
          name: lapakmahasiswa-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: lapakmahasiswa-db
          property: password
      - key: CACHE_DRIVER
        value: file
      - key: SESSION_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync
      - key: RUN_MIGRATIONS
        value: "true"
      - key: MAIL_MAILER
        value: smtp
      - key: MAIL_HOST
        sync: false
      - key: MAIL_PORT
        sync: false
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_ENCRYPTION
        value: tls
      - key: MAIL_FROM_ADDRESS
        sync: false
      - key: MAIL_FROM_NAME
        value: LapakMahasiswa

databases:
  - name: lapakmahasiswa-db
    databaseName: lapakmahasiswadb
    user: lapakmahasiswa
    plan: free
